a img {
	border: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

div.pseudocode { 
    background-color: whitesmoke; 
    border: 1px dashed black;
    padding: 1em 1em 1em 3em; 
}
div.pseudocode div { 
    margin-left: 2em; 
    text-indent: -4em; 
}
div.byline {
	font-family: sans-serif;
	font-size: large;
	font-weight: bold;
	margin: 1.5em 0 1em;
}

div.subtitle {
	font-family: sans-serif;
	font-size: x-large;
	font-weight: bold;
	margin: 1em 0;
}

div#toc a {
	font-family: sans-serif;
	text-decoration: none;
}

div#toc a:hover {
	text-decoration: underline;
}

div#toc ul {
	list-style-type: none;
	margin-left: 1.5em;
	padding-left: 0;
}

div.dual-pre {
    display: flex;
}
div.pane {
    flex: 1;
}

aside {
    display: block;
}

#shout {
    color: red;
    font-weight: bold;
}

.shout {
    color: red;
    font-weight: bold;
}

// Use to emphasize that new code has been entered within the pre block.
#newCode {
    color: blue;
}
.newCode {
    color: blue;
}

code.indent {
    margin-left: 50px;
}

h1 {
	font-family: sans-serif;
    text-decoration: underline;
}
h2,
h3,
h4,
h5,
h6 {
	font-family: sans-serif;
}

h2 {
	margin: 2em 0 1em;
}

h3 {
	margin: 1.5em 0 1em;
}

h4 {
	margin: 1em 0;
}

pre {
	background-color: whitesmoke;
	border: 1px solid #aaa;
	padding: 1em;
}

ul.references {
	list-style-type: none;
	margin-left: 0.5in;
	padding-left: 0;
	text-indent: -0.5in;
}

ul.references li {
	margin: 1em 0;
}

p {
    margin-left: 25px;
    font-family: "Times New Roman";
    font-size:15px;
    padding-right: 50px;
}

p.slide {
    font-weight: bold;
    font-size: 24px;
}

pre {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}


/***** Message Boxes *******/
/**
 * Ref: http://www.jankoatwarpspeed.com/css-message-boxes-for-different-message-types/
 * Use like:
    <div class="info">Info message</div>
    <div class="success">Successful operation message</div>
    <div class="warning">Warning message</div>
    <div class="error">Error message</div>
 */
body{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
}
.info, .success, .warning, .error, .validation, .attention, .question {
    border: 1px solid;
    margin: 10px 0;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('success.png');
}
.question {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('blue-question.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}
.attention {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('attention.jpeg');
}
.boxed {
    border: 2px solid black;
}
.left-panel
{        
    background-color:#ccc;
    width:50%;
    #height:100px;
    float:left;        
}
.right-panel
{        
    background-color:Gray;
    width:50%;
    #height:100px;
    float:left;
}
.aParent div {
    float: left;
    clear: none;
}

li {
    font-family: "Times New Roman";
    font-size:15px;
    margin-left: 10px;
    margin-bottom: 7px;
}

.def-list dt {
    margin-left: 0.5in; 
    padding-left:0.2em; 
    margin-bottom:10px; 
    font-weight: bold;
}
.def-list dd {
    margin-left: 0.75in; 
    padding-left:0.2em; 
    margin-bottom:15px; 
}

#codeLink {
    color: green;
}

.codeLink {
    color: green;
}


