# .coveagerc to control coverage.py
[run]
omit=
    ../lib/logCollector.py
    /usr/lib/python2.7/*
    /usr/local/lib/python2.7/*

branch = True
Parallel = True

[report]
ignore_errors = True
omit=
    ../lib/logCollector.py
    genData.py
    /usr/lib/python2.7/*

[html]
directory = coverage_html



